* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: satoshi;
  src: url(./assets/Satoshi-Variable.ttf);
}

@font-face {
  font-family: stix;
  src: url(./assets/STIXTwoText-VariableFont_wght.ttf);
}

html body {
  margin: 0 auto;
  overflow-x: hidden;
  padding: 0;
  font-family: satoshi;
  background: #030405;
  color: white;
}

header {
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  margin-top: 15px;
  font-family: stix;
}

#userpfp {
  border: 3px white solid;
  border-radius: 70px;
  width: 6em;
}

#username {
  font-weight: bold;
  font-size: 22px;
}

a {
  color: white;
}

a:link {
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  padding-top: 6em;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 4px;
}

#card {
  margin-top: 14px;
  border-radius: 10px;
  border: 1px solid rgba(136, 136, 136, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 16px;
  width: 80%;
}

#card:hover {
  transform: scale(1.05);
  transform-origin: center;
  transition: all 0.3s ease-in-out;
}
